body,
html {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    color: var(--color-links-hover);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

/* Section HEader */

section {
    padding: 3em 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 15px;
}

.section-header h2 {
    font-size: 48px;
    font-weight: 300;
    margin: 13px 0 50px 0;
    color: var(--color-secondary);
}

.section-header p {
    margin: 0 auto;
    color: var(--color-secondary-light);
}

@media (min-width: 1280px) {
    .section-header p {
        max-width: 80%;
    }
}

/* Disable aos animation delay on mobile devices */

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/* Header */
.header {
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: var(--color-white);
}

.header .logo img {
    max-height: 60px;
    margin-right: 6px;
}


/* Desktop Nav */
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
        position: relative;
    }

    .navbar ul {
        margin: 0 3.5em 0 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 20px;
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        color: var(--color-default);
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar li:hover>a {
        color: #E26910;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        margin: 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #e2e7ed;
        border-radius: 8px;
        transition: 0.3s;
    }

    .navbar .dropdown ul li {
        /* min-width: 200px; */
        width: 17.2em;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active {
        color: #E26910;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/* Mobile Nav */
@media (max-width: 1279px) {
    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 70px);
        /*Ganti Ini*/
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 10px 0;
        margin: 0;
        background: rgba(115, 121, 127, 0.9);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 20px;
        font-size: 3.7vw;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 14px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: var(--color-primary);
    }

    .navbar .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        border-radius: 10px;
        border: 1px solid rgba(143, 159, 174, 0.3);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    }

    .navbar .dropdown .dropdown-active {
        display: block;
        background: rgba(115, 121, 127, 0.9);
    }

    .mobile-nav-toggle {
        display: block !important;
        color: var(--color-secondary);
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        top: 25px;
        z-index: 9999;
        right: 20px;
    }

    .mobile-nav-toggle.bi-x {
        color: var(--color-primary);
    }

    .mobile-nav-active {
        overflow: hidden;
        z-index: 9995;
        position: relative;
    }

    .mobile-nav-active .navbar {
        left: 0;
    }
}

/* Breadcrumbs */
.breadcrumbs {
    padding: 15px 0;
    background: rgba(143, 159, 174, 0.05);
    min-height: 40px;
    margin-top: 76px;
}

.breadcrumbs h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
}

.breadcrumbs li a {
    color: #d8a124;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--color-secondary-light);
    content: "/";
}

@media (max-width: 992px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs h2 {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .breadcrumbs ol {
        display: block;
        font-size: 2vw;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/* Hero Section */

.hero {
    width: 100%;
    max-height: 80vh;
}

.hero .carousel-1 {
    width: 100%;
    min-height: 80vh;
    background: url("../img/bubs.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 60px;
    z-index: 89;
}

.hero .carousel-1::before {
    content: "";
    background: rgba(48, 43, 43, 0.5);
    position: absolute;
    inset: 0;
    z-index: -9;
}

.hero .carousel-2 {
    width: 100%;
    min-height: 80vh;
    background: url("../img/carousel-2.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 60px;
    z-index: 90;
}

.hero .carousel-2::before {
    content: "";
    background: rgba(48, 43, 43, 0.5);
    position: absolute;
    inset: 0;
    z-index: -2;
}

.hero .carousel-3 {
    width: 100%;
    min-height: 80vh;
    background: url("../img/carousel-3.jpg") center center;
    background-size: cover;
    position: relative;
    z-index: 96;
    padding: 120px 0 60px;
}

.hero .carousel-3::before {
    content: "";
    background: rgba(48, 43, 43, 0.5);
    position: absolute;
    inset: 0;
    z-index: -9;
}

@media (min-width: 1365px) {
    .hero {
        background-attachment: fixed;
    }
}

/* Animasi zoom-out */
@keyframes zoomOut {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

.hero .caroutext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    animation: zoomOut 1s ease-in-out alternate;
    z-index: 9999;
}

.hero h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 300;
    color: var(--color-white);
    font-family: var(--font-secondary);
}

.hero h2 span {
    color: var(--color-primary);
}

.hero p {
    color: var(--color-white);
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.hero .btn-get-started:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
}

@media (max-width: 640px) {
    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .hero .btn-get-started,
    .hero {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .hero .container {
        padding: 0 60px;
    }
}

.hero .carousel-item {
    overflow: hidden;
    flex: 0 0 100%;
    /* opacity: 1;
    transition: opacity 0.5s ease-in-out; */
}

.hero .carousel-item:active {
    opacity: 0;
}

.hero .btn-get-started {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 5px;
    transition: 0.5s;
    animation: fadeInUp 1s both 0.6s;
    color: var(--color-default);
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.hero .btn-get-started:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.hero .carousel-control-prev {
    justify-content: start;
    z-index: 99;
    min-height: 80vh;
}

@media (min-width: 640px) {
    .hero .carousel-control-prev {
        padding-left: 15px;
    }
}

.hero .carousel-control-next {
    justify-content: end;
    z-index: 98;
}

@media (min-width: 640px) {
    .hero .carousel-control-next {
        padding-right: 15px;
    }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(var(--color-secondary-rgb), 0.4);
    color: rgba(var(--color-white-rgb), 0.98);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .carousel-control-next-icon {
    padding-left: 3px;
}

.hero .carousel-control-prev-icon {
    padding-right: 3px;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
    transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
    opacity: 0.5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDownLite {
    from {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Kata Sambutan */

.kata-sambutan {
    padding: 0;
    margin-bottom: 60px;
}

.kata-sambutan .container {
    padding: 80px;
    background: rgba(72, 86, 100, 0.1);
    border-radius: 15px;
    margin-top: 5em;
}


.kata-sambutan h3 {
    color: var(--color-secondary);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

@media (max-width:767px) {
    .kata-sambutan h3 {
        color: var(--color-secondary);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1em;
        text-align: center;
    }

    .kata-sambutan .col-md-6 {
        order: 1;
    }

    .kata-sambutan .content {
        order: 2;
    }

    .profil-sekolah-terbaru .box-profil-sekolah {
        margin: 3.5em 0 0 0;
    }

}

@media (max-width: 992px) {

    .kata-sambutan .row {
        flex-direction: column;
    }

    .kata-sambutan .col-md-6 {
        width: 100%;
        text-align: center;
        order: 1;
    }

    .kata-sambutan .img {
        margin-bottom: 20px;
        display: block;
        margin: 0 auto 20px auto;
    }

    .kata-sambutan .content p {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 18px;
        white-space: normal;
    }

    .kata-sambutan .content {
        order: 2;
    }

    .footer .footer-content .col-lg-4 {
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

/* Hannya Untuk Tampilan Desktop */
@media (min-width: 1210px) {
    .kata-sambutan .content p {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 22px;
        margin: 0 4rem 1rem 0;
        text-align: justify;
    }
}

@media (min-width: 996px) {
    .kata-sambutan .content p {
        color: var(--color-secondary);
        font-weight: 600;
        margin: 0 4rem 1rem 0;
    }
}

.kata-sambutan .img {
    position: relative;
    /* order: 2; */
    /* transform: scaleX(-1); */
}

.kata-sambutan .img:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transform: rotate(12deg);
}

.kata-sambutan .img:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    transform: rotate(6deg);
}

.kata-sambutan .img img {
    position: relative;
    z-index: 3;
    border-radius: 15px;
}

/* Visi Misi */
.visi-misi .visi-misi-img {
    position: relative;
    margin: 60px 0 0 60px;
}

.visi-misi .visi-misi-img img {
    border-radius: 20px;
}

@media (max-width: 575px) {
    .visi-misi .visi-misi-img {
        margin: 30px 0 0 30px;
    }
}

.visi-misi h3 {
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .visi-misi h3 {
        font-size: 28px;
    }
}

.visi-misi .nav-pills li {
    margin-left: 40px;
}

.visi-misi .nav-link {
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-secondary);
    padding: 12px 0;
    margin-bottom: -2px;
    border-radius: 0;
    font-family: var(--font-secondary);
}

.visi-misi .nav-link.active {
    color: var(--color-primary);
    background: none;
    border-bottom: 3px solid var(--color-primary);
}

@media (max-width: 575px) {
    .visi-misi .nav-link {
        font-size: 16px;
    }
}

.visi-misi .tab-content {
    display: block;
    padding: 15px 0 0 0;
}

.visi-misi .tab-content h4 {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: 700;
    color: var(--color-secondary);
}

.visi-misi .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: var(--color-primary);
}

/* Tenaga Pendidik */

.tenaga-pendidik .anggota .anggota-img {
    border-radius: 8px;
    overflow: hidden;
}

.tenaga-pendidik .anggota .medsos {
    position: absolute;
    left: 0;
    top: -18px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tenaga-pendidik .anggota .medsos a {
    transition: color 0.3s;
    color: var(--color-white);
    background: var(--color-primary);
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
}

.tenaga-pendidik .anggota .medsos a i {
    line-height: 0;
    font-size: 16px;
}

.tenaga-pendidik .anggota .medsos a:hover {
    background: var(--color-primary-light);
}

.tenaga-pendidik .anggota .medsos i {
    font-size: 18px;
    margin: 0 2px;
}

.tenaga-pendidik .anggota .anggota-info {
    padding: 30px 15px;
    text-align: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: var(--color-white);
    margin: -50px 20px 0 20px;
    position: relative;
    border-radius: 8px;
}

.tenaga-pendidik .anggota .anggota-info h4 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 24px;
    color: var(--color-secondary);
}

.tenaga-pendidik .anggota .anggota-info span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
}

.tenaga-pendidik .anggota .anggota-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: var(--color-gray);
}

.tenaga-pendidik .anggota:hover .medsos {
    opacity: 1;
}

.tenaga-pendidik .btn-readmore {
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-primary);
    padding: 12px 23px;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--font-secondary);
    justify-content: center;
    margin-top: 3em;
    display: flex;
    width: 12em;
}

.tenaga-pendidik .btn-readmore:hover {
    color: var(--color-white);
    background: rgba(255, 179, 7, 0.85);
}

/* Berita Terbaru */

.berita-terbaru .box-berita {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.berita-terbaru .box-berita .img-berita {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.berita-terbaru .box-berita .img-berita img {
    transition: 0.5s;
    width: 1024px;
    height: 285px;
    object-fit: cover;
}

.berita-terbaru .box-berita .meta {
    margin-top: 15px;
}

.berita-terbaru .box-berita .meta .tanggal-berita {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
}

.berita-terbaru .box-berita .meta .author {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-secondary);
}

.berita-terbaru .box-berita .post-title a {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: 700;
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;
}

.berita-terbaru .box-berita p {
    margin: 15px 0 0 0;
    padding-bottom: 45px;
    color: rgba(58, 71, 83, 0.7);
}

.berita-terbaru .box-berita .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    margin-top: 15px;
}

.berita-terbaru .box-berita .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
}

.berita-terbaru .box-berita:hover .post-title a {
    color: var(--color-primary);
}

.berita-terbaru .box-berita:hover .img-berita img {
    transform: scale(1.1);
}

.berita-terbaru .btn-readmore {
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-primary);
    padding: 12px 23px;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--font-secondary);
    justify-content: center;
    margin-top: 3em;
    display: flex;
    width: 13em;
}

.berita-terbaru .btn-readmore:hover {
    color: var(--color-white);
    background: rgba(255, 179, 7, 0.85);
}

/* Kontak */

.kontak .map {
    margin-bottom: 40px;
}

.kontak .box {
    padding: 40px;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.kontak .form {
    width: 100%;
    background: var(--color-white);
}

.kontak .form .form-group {
    padding-bottom: 8px;
}

.kontak .form input[type=text],
.kontak .form input[type=email],
.kontak .form textarea {
    border-radius: 10px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */

}

.kontak .form input[type=text]:focus,
.kontak .form input[type=email]:focus,
.kontak .form textarea:focus {
    border-color: var(--color-secondary-light);
}

.kontak .form input[type=text],
.kontak .form input[type=email] {
    height: 48px;
    padding: 10px 15px;
}

.kontak .form textarea {
    padding: 10px 12px;
    height: 290px;
}

.kontak .form button {
    background: var(--color-primary);
    border: 0;
    padding: 13px 50px;
    color: var(--color-white);
    transition: 0.4s;
    border-radius: 10px;
    margin-top: 16px;
}

.kontak .form button:hover {
    background: rgba(255, 179, 7, 0.85);
    border-radius: 5px;
}

/* Footer */
.footer {
    color: var(--color-black);
    font-size: 14px;
    padding-top: 28px;
}

.footer .footer-content {
    background: #f4f4f4;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 0 30px 0;
}

.footer .footer-content .footer-info {
    margin-bottom: 30px;
}

.footer .footer-content .footer-info img {
    padding: 9px 0px 8px 0px;
    width: 16em;
}

.footer .footer-content .footer-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: var(--font-primary);
}

.footer .footer-content .footer-info i {
    color: var(--color-black);
    margin: 0 0.5em 0 0;
}

.footer .footer-content .footer-links {
    margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-links ul i {
    padding-right: 2px;
    color: var(--color-black);
    font-size: 12px;
    line-height: 1;
}

.footer .footer-content .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-content .footer-links ul a {
    color: var(--color-black);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}


.footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-links a:hover {
    background: var(--color-primary);
    text-decoration: none;
}

.footer .nav-links {
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 1.2em;
}

.footer .nav-links li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.footer .nav-links li a {
    padding: 5px;
    color: var(--color-black);
    font-size: 1.35em;
}

.footer .nav-links li a:hover {
    color: #d8a124;
}

.footer .sit h4 {
    font-size: 1.3em;
    padding: 1.2em;
    color: var(--color-secondary);
}

/* Profil Sekolah */

.profil-sekolah .profil-sekolah-detail {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.profil-sekolah .profil-sekolah-detail .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    border-radius: 10px;
}

.profil-sekolah .profil-sekolah-detail .title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0;
    margin: 38px 0 0 0;
    color: var(--color-secondary);
}

.profil-sekolah .profil-sekolah-detail .content {
    margin-top: 2em;
}

.profil-sekolah .profil-sekolah-detail .content p {
    font-size: 1.3em;
}

/* Berita */

.berita .posts-list article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
    border-radius: 5px;
}

.berita .posts-list article+article {
    margin-top: 60px;
}

.berita .posts-list .post-img {
    height: 240px;
    margin: -30px -30px 0 -30px;
    overflow: hidden;
    border-radius: 10px;
}

.berita .posts-list .post-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.berita .posts-list .title {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 1.2em 0;
    margin: 20px 0 0 0;
    height: 3.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.berita .posts-list .title a {
    color: var(--color-secondary);
    transition: 0.3s;
    font-weight: 700;
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;
}

.berita .posts-list .title a:hover {
    color: var(--color-primary);
}

.berita .posts-list .meta-top {
    margin-top: 20px;
    color: var(--color-gray);
}

.berita .posts-list .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.berita .posts-list .meta-top ul li+li {
    padding-left: 20px;
}

.berita .posts-list .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: rgba(255, 179, 7, 0.8);
}

.berita .posts-list .meta-top a {
    color: var(--color-gray);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.berita .posts-list .content {
    margin-top: 20px;
    height: 7.8em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.berita .posts-list .read-more a {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 9px 30px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 3em;
}

.berita .posts-list .read-more a:hover {
    background: rgba(255, 179, 7, 0.8);
}

/* Detail Berita */
.detail-berita .detail-berita-article {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}

.detail-berita .detail-berita-article .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    border-radius: 10px;
}

.detail-berita .detail-berita-article .title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0;
    margin: 38px 0 0 0;
    color: var(--color-secondary);
}

.detail-berita .detail-berita-article .content {
    margin-top: 2em;
}

.detail-berita .detail-berita-article .content p {
    font-size: 1.3em;
}

.detail-berita .detail-berita-article .meta-top ul li {
    margin: 20px 0;
}

.detail-berita .detail-berita-article .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: rgba(255, 179, 7, 0.8);
}

.detail-berita .detail-berita-article .meta-top a {
    color: var(--color-gray);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

/* Karya Siswa */

.karya-siswa .filter-karya-siswa {
    padding: 0 0 3em 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.karya-siswa .filter-karya-siswa li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.karya-siswa .filter-karya-siswa li:hover,
.karya-siswa .filter-karya-siswa li.filter-active {
    color: var(--color-primary);
}

.karya-siswa .filter-karya-siswa li:first-child {
    margin-left: 0;
}

.karya-siswa .filter-karya-siswa li:last-child {
    margin-right: 0;
}

@media (max-width: 575px) {
    .karya-siswa .filter-karya-siswa li {
        font-size: 14px;
        margin: 0 5px;
    }
}

.karya-siswa .karya-siswa-card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 27em;
    padding-bottom: 30px;
    overflow: hidden;
    margin: 10px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .karya-siswa .karya-siswa-card {
        height: 100%;
    }
}

.karya-siswa .karya-siswa-card img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.karya-siswa .karya-siswa-card .karya-siswa-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

.karya-siswa .karya-siswa-card .karya-siswa-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}

.karya-siswa .karya-siswa-card .karya-siswa-info h4 a {
    color: var(--color-default);
    transition: 0.3s;
}

.karya-siswa .karya-siswa-card .karya-siswa-info h4 a:hover {
    color: var(--color-primary);
}

.karya-siswa .karya-siswa-card .karya-siswa-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
}

.karya-siswa .karya-siswa-card:hover img {
    transform: scale(1.1);
}