:root {
    --font-default: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --color-links: #0ea2bd;
    --color-links-hover: #1ec3e0;

    --color-primary: #ffb307;
    --color-primary-light: #fcc137;
    --color-primary-dark: #9c6d00;

    --color-secondary: #485664;
    --color-secondary-light: #8f9fae;
    --color-secondary-dark: #3a4753;

    --color-white: #fff;
    --color-black: #000;
    --color-blue: #0d6efd;
    --color-red: #df1529;
    --color-gray: #6c757d;
}